<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Solutions</title>
    <link rel="stylesheet" href="../stylesheets/ss.css">
</head>
<body>
    <div class="bg"><img src="images/bg.jpeg" alt=""></div>
    <h1 id="heading">Sustainable Solutions</h1>
    <div class="big">
        <div class="small">
            <img class="img" src="images/images.jpeg" alt="">
            <p class="des">Reducing waste through practices like recycling, composting, and minimizing single-use plastics can decrease the amount of waste sent to landfills and reduce pollution.</p>
        </div>
        <div class="small">
            <img class="img" src="images/renewable.png" alt="">
            <p class="des">Shifting from fossil fuels to renewable energy sources like solar, wind, and hydropower can significantly reduce greenhouse gas emissions.</p>
        </div>
        <div class="small">
            <img class="img" src="images/susagr.webp" alt="">
            <p class="des">Implementing practices such as organic farming, permaculture, and agroforestry can reduce the environmental impact of agriculture.</p>
        </div>
        <div class="small">
            <img class="img" src="images/wtrcnr.webp" alt="">
            <p class="des">Implementing water-saving technologies, such as low-flow fixtures and drip irrigation, can significantly reduce water <consumption class="im"></consumption></p>
        </div>
        <div class="small">
            <img class="img" src="images/affbio.jpg" alt="">
            <p class="des">Planting trees, restoring natural habitats, and protecting biodiversity are crucial for maintaining ecological balance.</p>
        </div>
        <div class="small">
            <img class="img" src="images/supply.webp" alt="">
            <p class="des">Encouraging companies to adopt sustainable sourcing and production practices can reduce the environmental impact of goods and services.</p>
        </div>
    </div>
</body>
</html>